.container-all-cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    height: 90vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-all-cards::-webkit-scrollbar {
    display: none;
}

.container-all-cards img {
    width: 250px;
    height: 350px;
}